<h1>Editing poker face</h1>

<%= render "form", poker_face: @poker_face %>

<br>

<div>
  <%= link_to "Show this poker face", @poker_face %> |
  <%= link_to "Back to poker faces", poker_faces_path %>
</div>
